/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Quality of life
  3. Allow percentage-based heights in the application
  4. Set font sizing to base 10;
*/
html,
body {
  height: 100%;
  font-size: 62.5%;
}

/*
  Typographic tweaks!
  5. Add accessible line-height
  6. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  7. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  9. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: grid;
  place-content: center;
  height: 100%;
  padding: 2rem;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "input input input input"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". title title equals";
  gap: 2rem;
}

input[type="text"] {
  grid-area: input;
  font-size: 3rem;
  text-align: right;
  padding-right: 1rem;
  width: 100%;
}

button {
  font-size: 2rem;
  height: 8rem;
}

button[type="submit"] {
  grid-area: equals;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  grid-area: title;
  font-size: 2.65rem;
  text-align: center;
  place-self: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.active {
  border: 3px solid dodgerblue;
}
